<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<!-- Commands 1- Fortify 2- Scan On-the-fly 3- Scan to PDF -->
   <extension point="org.eclipse.ui.commands">
      <category
            id="FortifyScanner.commands.category"
            name="Fortify">
      </category>
      <command
            categoryId="FortifyScanner.commands.category"
            name="Scan On-the-fly"
            id="FortifyScanner.commands.ontheflyCommand">
      </command>
      <command
            categoryId="FortifyScanner.commands.category"
            name="Scan to PDF"
            id="FortifyScanner.commands.tofileCommand">
      </command>
      <command
            categoryId="FortifyScanner.commands.category"
            name="Ignored Rules"
            id="FortifyScanner.commands.toIgnoredRules">
      </command>
   </extension>
   <!-- Java Class Handlers 1- OnTheFlyHandler 2- FileReportHandler -->
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fortifyscanner.handlers.OnTheFlyHandler"
            commandId="FortifyScanner.commands.ontheflyCommand">
      </handler>
      <handler
            class="fortifyscanner.handlers.FileReportHandler"
            commandId="FortifyScanner.commands.tofileCommand">
      </handler>
      <handler
            class="fortifyscanner.handlers.IgnoredRulesHandler"
            commandId="FortifyScanner.commands.toIgnoredRules">
      </handler>
   </extension>
   <!-- Keyboard Bindings 1- Ctrl+6 for ontheflyCommand -->
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="FortifyScanner.commands.ontheflyCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+4">
      </key>
      <key
            commandId="FortifyScanner.commands.tofileCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5">
      </key>
      <key
            commandId="FortifyScanner.commands.toIgnoredRules"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6">
      </key>      
   </extension>
   <!-- GUI (Custom Added Buttons-Entry Points) 1- MainMenu 2- ToolbarButton -->
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="FortifyScanner.menus.fortifyMenu"
               label="Fortify"
               mnemonic="F">
            <command
                  commandId="FortifyScanner.commands.ontheflyCommand"
                  id="FortifyScanner.menus.ontheflyCommand"
                  mnemonic="O">
            </command>
            <command
                  commandId="FortifyScanner.commands.tofileCommand"
                  id="FortifyScanner.menus.tofileCommand"
                  mnemonic="P">
            </command>
			<command
                  commandId="FortifyScanner.commands.toIgnoredRules"
                  id="FortifyScanner.menus.toIgnoredRules"
                  mnemonic="I">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="FortifyScanner.toolbars.sampleToolbar">
            <command
                  id="FortifyScanner.toolbars.sampleCommand"
                  commandId="FortifyScanner.commands.ontheflyCommand"
                  icon="icons/fortify.png"
                  tooltip="Fortify SCA Plugin By Umut">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <!-- GUI (Views) 1- Fortify Console -->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="FortifyScanner"
            name="Fortify">
      </category>
      <view
            category="FortifyScanner"
            class="fortifyscanner.ui.view.FortifyConsoleView"
            icon="icons/fortify.png"
            id="fortifyscanner.views.FortifyConsoleView"
            inject="true"
            name="Fortify On-the-Fly">
      </view>
      <view
            category="FortifyIssueDetailScanner"
            class="fortifyscanner.ui.view.FortifyIssueDetailView"
            icon="icons/fortify.png"
            id="fortifyscanner.views.FortifyIssueDetailView"
            inject="true"
            name="Fortify Issue Trace">
      </view>
	  <view
            category="VulncatBrowserView"
            class="fortifyscanner.ui.view.VulncatBrowserView"
            icon="icons/fortify.png"
            id="fortifyscanner.views.VulncatBrowserView"
            inject="true"
            name="Fortify Taxonomy">
      </view>
   </extension>
   <!-- Eclipse Perspective Additions -->
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jst.j2ee.internal.perspective.J2EEPerspective">
         <view
               id="fortifyscanner.views.FortifyConsoleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.markers.internal.MarkerView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="fortifyscanner.views.FortifyConsoleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <!-- Contexts -->
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
</plugin>
